<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Import Report</h2>
</div>


<div>
  <%= @nb_imported_movements %> movements have been imported.

  <% unless @errors.empty?  %>
  <h3>Errors (<%= @errors.count %>)</h3>
  <ul>
    <% @errors.each do |error| %>
      <li>
        <%= error.inspect %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>
