<h1>Upload CSV</h1>

<%= form_tag({action: :create}, multipart: true) do %>
  <div class="form-group">
    <label for="file-field">Select a CSV file</label>
    <%= file_field_tag 'csv_file', class: "form-control-file", id: "file-field" %>
    <br>
    <%= submit_tag :upload %>
  </div>
<% end %>
